.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
* {
    padding: 0;
    margin: 0;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lexend Deca', sans-serif;
    background-color: hsl(0, 0%, 95%);
}
.container {
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.box {
    width: 13%;
    padding: 50px;
    color: #fff;
}
.box .logo {
    margin-bottom: 20px;
}
.box h1 {
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 50px;
    margin-bottom: 20px;
}
.box p {
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 5rem;
    font-size: 15px;
    line-height: 1.8;
}
.box-one {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.box-two {
    background-color: hsl(184, 100%, 22%);
}
.box-three {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.box .btn a {
    text-decoration: none;
    padding: 12.5px 25px;
    background-color: hsl(0, 0%, 95%);
    border: 2.5px solid hsl(0, 0%, 95%);
    border-radius: 100px;
    transition: 0.3s;
}
.box-one a {
    color: hsl(31, 77%, 52%);
}
.box-two a {
    color: hsl(184, 100%, 22%);
}
.box-three a {
    color: hsl(179, 100%, 13%);
}
.box .btn a:hover {
    background-color: transparent;
    color: hsl(0, 0%, 95%);
    font-weight: 600;
}
@media (max-width: 965px) {
    .box {
        width: 20%;
    }
}
@media (max-width: 767px) {
    body {
        height: auto;
    }
    .container {
        flex-direction: column;
        margin: 50px 0;
    }
    .box {
        width: 60%;
        margin: auto;
    }
    .box-one {
        border-bottom-left-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .box-three {
        border-top-right-radius: 0;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}